<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>理货单</title>
	[#include "/admin/common/commons.html"]
	[#include "/tenant/common/site.html"]
	[@baseHead /]
</head>

<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">

		<header class="main-header">
			<!-- Header Navbar: style can be found in header.less -->
			[#include "/admin/common/nav.html"]
		</header>

		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->
		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				[@user_panel /]
				<!-- search form -->
				[@sidebar_form /]
				<!-- /.search form -->
				<!-- sidebar menu: : style can be found in sidebar.less -->
				<ul class="sidebar-menu" data-widget="tree">
					<li class="header">主面板</li>
					[@menustag id=1]
					[#list list as item]
					[@menu item "1,61,91"]
					[/@menu]
					[/#list]
					[/@menustag]
				</ul>
			</section>
			<!-- /.sidebar -->
		</aside>

		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper" id="app">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<!-- 导航 -->
				<div class="navigation">
					<i>首页</i> <span>理货单</span>
				</div>
			</section>
			<!-- Main content -->
			<section class="content">

				<!-- Default box -->
				<div v-if="modelType == 'list'">
					<div class="search">
						<el-form label-width="80px">
							<el-row>
								<el-col :span="6" style="padding: 0 8px;">
									<el-form-item label="收货人">
										<el-input title="收货人" label="收货人" v-model="searchObject.consignee" size="small"
											placeholder="收货人"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="6" style="padding: 0 8px;">
									<el-form-item label="联系电话">
										<el-input title="联系电话" label="联系电话" v-model="searchObject.phone" size="small"
											placeholder="联系电话"></el-input>
									</el-form-item>
								</el-col>

								<el-col :span="12" style="padding: 0 10px;margin-top: 5px;">
									<el-row type="flex" justify="end">
										<el-button size="small" type="primary" @click="search">搜索</el-button>
										<el-button size="small" plain @click="clearData">清除条件</el-button>
									</el-row>
								</el-col>
							</el-row>
						</el-form>
					</div>

					<div style="padding: 10px 2px;">
						<el-button type="primary" size="small" @click="addView">代客理货</el-button>
					</div>

					<el-table v-loading="loading" :data="tableData.list" style="width: 100%;font-size: 12px;">
						<el-table-column label="编号" width="200" prop="no">
						</el-table-column>
						<el-table-column label="收货人" width="200" prop="consignee">
						</el-table-column>
						<el-table-column label="联系电话" width="200" prop="phone">
						</el-table-column>
						<el-table-column label="收货地址" width="200" prop="address">
						</el-table-column>
						<el-table-column label="备注" width="200" prop="note">
						</el-table-column>
						<el-table-column label="状态" width="200" prop="state">
						</el-table-column>
						<el-table-column width="160" align="center" fixed="right" label="操作">
							<template slot-scope="scope">
								<el-button type="primary" size="small" @click="editView(scope.row.id)">编辑
								</el-button>
								<span class="el-button el-button--danger el-button--mini " style="cursor: pointer;"
									@click="deleteData(scope.row)">删除</span>
							</template>
						</el-table-column>
					</el-table>

					<div class="page">
						<el-pagination background :current-page="searchObject.no" :page-sizes="[10, 20, 50, 100]"
							:page-size="tableData.size" :pager-count="5"
							layout="total, sizes, prev, pager, next, jumper" :page-count="tableData.totalPage"
							:total="tableData.total" @size-change="sizeChange" @current-change="pageChange">
						</el-pagination>
					</div>
				</div>
				<!-- 增加页面 -->
				<div v-if="modelType == 'add'">
					<el-page-header style="margin-bottom: 15px;" @back="goBack" content="代客理货">
					</el-page-header>
					<el-steps :active="active" simple>
						<el-step title="选择客户">
						</el-step>
						<el-step title="理货">
						</el-step>
						<el-step title="理货确认">
						</el-step>
						<el-step title="理货成功">
						</el-step>
					</el-steps>
					<div class="customer" v-if="active == 0">
						<el-table :data="tableData_customer.list" :header-cell-style="{
								'background-color': '#f7f7f7',
								'color': '#666'
							}" style="width: 100%;font-size: 12px;margin-top: 10px;">
							<el-table-column label="客户名称" width="220" prop="shop">
							</el-table-column>
							<el-table-column width="180" label="联系人姓名" prop="name">
							</el-table-column>
							<el-table-column width="180" label="手机号码" prop="phone">
							</el-table-column>
							<el-table-column width="180" label="状态" prop="shippingAddress">
							</el-table-column>
							<el-table-column width="140" label="客户等级" prop="level">
							</el-table-column>
							<el-table-column align="center" header-align="center" width="180" fixed="right" label="操作">
								<template slot-scope="scope">
									<a href="javascript:void(0);" @click="selectCustomer"
										style="margin-right: 10px;">代客理货</a>
								</template>
							</el-table-column>
						</el-table>
						<div class="page">
							<el-pagination background layout="prev, pager, next" :page-size="tableData_customer.size"
								:page-count="tableData_customer.totalPage" :current-page="search.no" :total="tableData_customer.total"
								@current-change="tableDataCustomerChange">
							</el-pagination>
						</div>
					</div>

				</div>
				<!-- 更新页面 -->
				<div v-if="modelType == 'edit'">
					<el-form ref="form_edit" :model="form_edit" label-width="160px">
						<el-row :gutter="10">
							<el-col :span="12">
								<el-form-item label="编号" size="mini" prop="no">
									<el-input v-model="form_edit.no" name="no">
									</el-input>
								</el-form-item>
							</el-col>
							<el-col :span="12">
								<el-form-item label="收货人" size="mini" prop="consignee">
									<el-input v-model="form_edit.consignee" name="consignee">
									</el-input>
								</el-form-item>
							</el-col>
							<el-col :span="12">
								<el-form-item label="联系电话" size="mini" prop="phone">
									<el-input v-model="form_edit.phone" name="phone">
									</el-input>
								</el-form-item>
							</el-col>
							<el-col :span="12">
								<el-form-item label="收货地址" size="mini" prop="address">
									<el-input v-model="form_edit.address" name="address">
									</el-input>
								</el-form-item>
							</el-col>
							<el-col :span="12">
								<el-form-item label="备注" size="mini" prop="note">
									<el-input v-model="form_edit.note" name="note">
									</el-input>
								</el-form-item>
							</el-col>
							<el-col :span="12">
								<el-form-item label="状态" size="mini" prop="state">
									<el-input v-model="form_edit.state" name="state">
									</el-input>
								</el-form-item>
							</el-col>
						</el-row>
						<el-row style="text-align: right;">
							<el-button @click="cancelEdit">取消</el-button>
							<el-button type="primary" @click="updateData">确定</el-button>
						</el-row>
					</el-form>
				</div>


				<!-- /.box -->
			</section>

			<el-dialog title="提示" :visible.sync="dialogVisible" width="30%">
				<span>确认要删除该条数据吗?</span>
				<span slot="footer" class="dialog-footer">
					<el-button @click="dialogVisible = false">取 消</el-button>
					<el-button type="primary" @click="handleClose">确 定</el-button>
				</span>
			</el-dialog>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		[#include "/admin/common/footer.html"]

		<!-- Control Sidebar -->
		[#include "/admin/common/aside.html"]

		<!-- /.control-sidebar -->
		<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->
	[@baseScript /]
	<script>
		var vm = new Vue({
			el: '#app',
			data: function () {
				return {
					searchObject: {
						no: 1,
						size: 10,
						consignee: '',
						phone: ''
					},
					modelType: "list",
					dialogVisible: false,
					defaultProps: {
						children: 'children',
						label: 'name'
					},
					active: 0,
					form: {
						no: '',
						consignee: '',
						phone: '',
						address: '',
						note: '',
						state: ''
					},
					form_edit: {
						no: '',
						consignee: '',
						phone: '',
						address: '',
						note: '',
						state: ''
					},
					loading: false,
					tableData: {},
					searchObject_customer: {
						no: 1,
						size: 10,
						consignee: '',
						phone: ''
					},
					tableData_customer:{}
					
				}
			},
			mounted: function () {
				this.getSearchList();
			},
			methods: {
				link(url) {
					this.modelType = url;
				},
				goBack() {
					this.modelType = "list";
				},
				addView() {
					this.modelType = "add";
					this.getSearchCustomerList();
				},
				getSearchCustomerList(){
					var data=this.searchObject_customer;
					var that = this;
					$.post("${siteurl}tenantRest/customer/search.htm", data, function (result) {
						if (result.code == 0) {
							Vue.set(vm.$data, 'tableData_customer', result);
						}
						setTimeout(() => {
							that.loading = false;
						}, 300)
					});
				},
				tableDataCustomerChange(index){
					this.searchObject_customer.no = index;
					this.getSearchList();
				},
				add() {
					var self = this;
					this.$refs["ruleForm"].validate((valid) => {
						if (valid) {
							self.addData();
						} else {
							console.log('error submit!!');
							return false;
						}
					});
				},
				addData() {
					var that = this, data = this.form;
					const loading = this.$loading({
						lock: true,
						text: '数据修改中',
						spinner: 'el-icon-loading',
						background: 'rgba(0, 0, 0, 0.7)'
					});

					$.post("${siteurl}tenantRest/ordertally/create.htm", data, function (res) {
						setTimeout(() => {
							loading.close();
						}, 300);
						if (res.code == 0) {
							that.modelType = 'list';
							that.$message({
								message: '添加数据成功',
								type: 'success'
							});
							that.searchObject.no = 1;
							that.getSearchList();
						} else {
							that.$message.error(res.msg);
						}
					});
				},
				sizeChange(event) {
					this.searchObject.size = event;
					this.getSearchList();
				},
				updateData() {
					var self = this;
					this.$refs["form_edit"].validate((valid) => {
						if (valid) {
							self.updateDataPost();
						} else {
							console.log('error submit!!');
							return false;
						}
					});
				},
				updateDataPost() {
					var that = this, data = this.form_edit;
					const loading = this.$loading({
						lock: true,
						text: '数据修改中',
						spinner: 'el-icon-loading',
						background: 'rgba(0, 0, 0, 0.7)'
					});

					$.post("${siteurl}tenantRest/ordertally/update.htm", data, function (res) {
						setTimeout(() => {
							loading.close();
						}, 300);
						if (res.code == 0) {
							that.modelType = 'list';
							that.$message({
								message: '修改数据成功',
								type: 'success'
							});
							that.getSearchList();
						} else {
							that.$message.error(res.msg);
						}
					});
				},
				// 获取发票详情
				editView(id) {
					var that = this;
					var data = {};
					data.id = id;
					this.modelType = "edit";
					$.post("${siteurl}tenantRest/ordertally/view.htm", data, function (res) {
						if (res.code == 0) {
							console.log(res)
							that.form_edit = res;
						}
					});
				},
				// 搜索商品
				search() {
					this.searchObject.no = 1;
					this.getSearchList();
				},
				cancelEdit() {
					this.modelType = 'list';
				},
				// 获取商品列表
				getSearchList() {
					this.loading = true;
					var data = this.searchObject, that = this;
					$.post("${siteurl}tenantRest/ordertally/search.htm", data, function (result) {
						if (result.code == 0) {
							Vue.set(vm.$data, 'tableData', result);
						}
						setTimeout(() => {
							that.loading = false;
						}, 300)
					});
				},
				// 商品分页
				pageChange(index) {
					this.searchObject.no = index;
					this.getSearchList();
				},
				deleteData(event) {
					this.selectId = event.id;
					this.dialogVisible = true;
				},
				clearData() {
					this.searchObject.consignee = "";
					this.searchObject.phone = "";
				},
				resetForm(formName) {
					this.$refs[formName].resetFields();
				},
				handleClose(done) {
					this.dialogVisible = false;
					var self = this;
					if (self.selectId) {
						var params = {};
						params.id = self.selectId;
						$.post("${siteurl}tenantRest/ordertally/delete.htm", params, function (res) {
							if (res.code == 0) {
								self.$message({
									message: '删除数据成功',
									type: 'success'
								});
								self.getSearchList();
							} else {
								self.$message.error(res.msg);
							}
						});
					}
					done();
				}
			}
		})
	</script>

</body>

</html>